* {
  font-family: "Montserrat", serif;
  background-color: rgb(229, 236, 238);
}

/*HEADER*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

/* navigaion */
ul {
  display: flex;
  align-self: center;
  font-weight: 700;
  list-style: none;
}

li {
  margin-left: 2rem;
}
a {
  color: black;
}

/* logo */
#logotype {
  display: flex;
  align-self: center;
  font-weight: 600;
  padding-top: 3%;
  font-size: 2.5rem;
}

/*MAIN*/

/*Main - Home Page*/

h1 {
  display: flex;
  padding-left: 5%;
  font-size: 4rem;
}

.main-homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: right;
}

.homepage-contianer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-content: stretch;
  align-self: center;
}

p {
  font-size: 1.2rem;
  padding-left: 5%;
}

/* picture */
.main-img {
  width: 70%;
  padding-left: 5%;
  margin-top: 5%;
}

.image-me {
  background-image: url(../images/me.jpeg);
  background-size: cover;
  background-position: center;
}

.header-image {
  width: 100%;
}

/*Main - home page end*/

/*Main - Contact Page*/

form {
  width: 40%;
  margin-left: 50 px;
  margin-top: 1%;
  border-color: black;
}

textarea {
  height: 100px;
  width: 40%;
}

#writeamessage {
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 1.5%;
}

/* Main - Contact Page */

/* Main - Portfolio Page */

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-left: 2%;
  /*Alternative
  'img, img, img'
  'img, img, img';
  */
}

.portfolio-image {
  width: 100%; /* will be 100% as they should take 100% of each column*/
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* End Main - Portfolio page*/

/* Main Portfolio-1 Page*/
.portfolio1-img-contianer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
}

.coffeeimg {
  margin-top: 2%;
  width: 97%;
}

h3 {
  font-weight: 700;
  font-size: 2.2rem;
}

.portfolio-text-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
/* End Main Portfolio-1 Page*/

/* Main Portfolio-2 page*/

.jazzandblues-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.jazzandblues-image {
  width: 50%;
}

.printDescription {
  font-size: 1rem;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
}

/* End Portfolio-2 Page*/

/* FOOTER */

footer {
  margin-bottom: 5%;
}

.footer-text {
  font-size: 1rem;
  padding-left: 3%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#footer-name {
  margin-top: 10%;
  padding-left: 3%;
  font-weight: 700;
  font-size: 2.2rem;
}
